version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true  # Enables hot reload in Docker
      - IMMICH_API_KEY=${IMMICH_API_KEY}
      - IMMICH_API_URL=${IMMICH_API_URL}